body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: aliceblue;
}

header{
    background-color: rgb(18, 186, 68);
    color: white;
    text-align: center;
    padding: 1.5rem;
}
.blog-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1.5rem;
    padding: 2rem;
}

.Card{
    background-color: white;
    padding: 1.5rem;
    border: 1px solid white;
    border-radius: 10px;
}

.Card{
    margin-top: 0;
}


.Card p{
    line-height: 1.5;
}

.Card button{
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    border: none;
    background-color: #4caf50;
    color: white;
    cursor: pointer;
}

.Card button:hover{
    background-color: orange;
}

/* Tablet view*/
@media(max-width:900px){
    .blog-container{
    grid-template-columns: repeat(2,1fr);
}
}

/* Mobile view */
@media(max-width:600px){
   .blog-container{
     grid-template-columns: 1fr;
}
   }
