body{
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

.dashboard{
    display: flex;
    min-height: 100vh;
}

.sidebar{
    background-color: #333;
    color: white;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.sidebar a {
    color: white;
    text-decoration: none;

}

.main-content{
    flex: 1;
    padding: 2rem;
    background-color: #f4f4f4;
}

.cards{
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.card{
    background-color: white;
    border: 1px solid #dbdbdb;
    padding: 1.5rem;
    flex: 1 1 200px;
    border-radius: 8px;
    text-align: center;
}

/* mobile View*/

@media (max-width:600px){
    .dashboard{
        flex-direction: column;
    }
    .sidebar{
        flex-direction: row;
        justify-content: space-around;
    }

    .cards{
        flex-direction: column;
    }
}

