body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #d3c1c1;
}
 .features{
    width: 50%;
    margin: 30px auto;
    text-align:center;
 }
.features ul{
    list-style: none;
    padding: 0%;
}
 .features ul li{
    background-color: white;
    color: black;
    margin: 10px;
    padding: 12px;
    border: 2px solid gray;
    border-radius: 6px; 
 }

 .features ul li:hover{
    background-color: green;
    color: white;
 
 }
